# Игнорируем временные файлы Unity
Library/
Logs/
Temp/
Obj/
Build/
UserSettings/
MemoryCaptures/

# Игнорируем файлы сборки
*.apk
*.unitypackage
*.exe
*.zip
*.tar.gz
*.csproj

# Игнорируем файлы Mac
.DS_Store